* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.logotipo {
    margin: auto;
}

.logotipo img {
    width: 100px;
}

.tex-header {
    margin: auto;
}

.nav-header {
    margin: auto;
}

.nav-header li {
    list-style: none;
    display: inline-block;
}

.nav-header a {
    padding: 16px 10px;
    color: red;
    text-decoration: none;
    transition: 0.5s;
}

.nav-header a:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

/*Start main*/

.política-privacidade {
    margin: 20px 40px;
}

.política-privacidade h3 {
    margin: 20px 0px;
}

.política-privacidade p {
    text-align: justify;
}

/*End main*/

/*Start Area do rodapé*/
footer {
    background-color: whitesmoke;
}

footer p {
    text-align: center;
    padding-bottom: 50px;
    margin: 0px 30px;
}

.nav-footer {
    display: flex;
    justify-content: center;
}

.nav-footer li {
    list-style: none;
}

.nav-footer a {
    display: block;
    color: red;
    padding: 10px;
    transition: 0.5s;
}

.nav-footer a:hover {
    opacity: 0.6;
}

.nav-footer h4 {
    text-align: center;
}

.bloco {
    padding: 40px;
}

.bloco img {
    width: 50px;
    background-color: aliceblue;
    border-radius: 10px;
}

/*End Area do rodapé*/


@media screen and (max-width: 800px) {
    header {
        display: block;
        text-align: center;
    }

    .nav-header {
        padding: 30px 0px;
    }

    .nav-footer {
        display: block;
        text-align: center;
        width: 300px;
        margin: auto;
    }

    .nav-footer a {
        display: block;
        color: red;
        padding: 10px 0px;
    }

    .bloco {
        padding: 20px 0px;
    }
}